* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-image: url("https://user-images.githubusercontent.com/53489910/66153915-ec992900-e60b-11e9-9726-a309a35319dd.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* HOMEPAGE */
div.wrapper {
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
}

div.searchBarHolder {
    display: block;
    height: 150px;
    width: 500px;
    position: absolute;
    left: 7%;
    top: 30%;
}

div.filterDisplay {
    display: block;
    height: 400px;
    width: 150px;
    border: 1px solid black;
    position: absolute;
    top: 95%;
    left: 47%;
}


#songLyric {
    width: 600px;
    height: 70px;
    font-size: 30px;
    border-top: none;
    border-left: none;
    border-right: solid 1px gray;
    border-bottom: solid 1px gray;
    text-align: right;
    box-shadow: 2.5px 5px rgba(0, 0, 0, 0.25);
    background-color: transparent;
}

#songLyric::placeholder {
    text-align: right;
}

button.submitButton {
    padding: 20px 40px;
    margin-top: 10px;
}

button.filterButton {
    padding: 20px 40px;
    margin-top: 10px;
    margin-left: 250px;
}

div.hidden {
    display: none;
}

button.hidden {
    display: none;
}

ul.filtersList {
    margin: 0;
    list-style: none;
    float: left;
}

/* RESULTS PAGE */
div.resultsHolder {
    position:relative;
    top: 10%;
    height: 100%;
    width: 100%;
}

div.resultItem {
    text-align: left;
    left: 3%;
    height: 200px;
    width: 70%;
    margin-bottom: 10px;
}

button.returnButton {
    padding: 20px 40px;
    margin-left: -85%;
}

h2 {
    font-size: 6px;
}
